<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeLeaf-extras-springsecutity5"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div  class="inline-flex" th:fragment="itemManager">
            <form style="display: inline;" action="/decreseItem" method="post">
                <input type="hidden" name="productId" th:value="${item.product.id}">    
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit">-</button>    
            </form>
            <input style="width:40px;" th:value="${item.count}" th:if="${item.count}" class="btn btn-primaary">
            <form style="display: inline;" action="/increseItem" method="post">
                <input type="hidden" name="productId" th:value="${item.product.id}">    
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit">+</button>    
            </form>
                 
        </div>
    </body>
</html>
