<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeLeaf-extras-springsecutity5"
      lang="en">
    <head>
        <title>Seller Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:fragment="sidenavbar">
            <script type="javascript" src="/js/sidenavbar.js"></script>
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
                <link rel="stylesheet" href="/css/sidebar.css">
                <div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
                  <a href="#"><span><i class="material-icons">info</i><span class="icon-text">about</span></a><br>
                  <a href="#"><i class="material-icons">spa</i><span class="icon-text"></span>services</a></span>
                  </a><br>
                  <a href="#"><i class="material-icons">monetization_on</i><span class="icon-text"></span>clients</span></a><br>
                  <a href="#"><i class="material-icons">email</i><span class="icon-text"></span>contact<span></a>
                </div>

                <div id="main">
                  <h2>Open/Collapse Sidebar on Hover</h2>
                  <p>Hover over any part of the sidebar to open the it.</p>
                  <p>To close the sidebar, move your mouse out of the sidebar.</p>
                </div>
                
            
        </div>
    </body>
</html>
