<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeLeaf-extras-springsecutity5"
      lang="en">
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
    </head>
    <body>
        <div th:replace="fragments/header :: dashboardHeader"></div>
        <div class="container">
            <div class="row">
                <div style="text-align: center;" class="col">
                    <h2>Orders</h2> 
                </div>
            </div>
            <div class="row m-1" th:each=" order : ${myorders}">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title" th:text="${order.product.name}">Special title treatment</h5>
                          <p class="card-text">Status: order received</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        
        
        
    </body>
</html>
