<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeLeaf-extras-springsecutity5"
      lang="en">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>
    <body>
        <div th:replace="fragments/header :: headerElement"></div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-4">
                    <form action="/seller/login" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div class="alert alert-danger" role="alert" th:if="${param.error != null }">
                            Failed to login
                            <div th:if="${SPRING_SECURITY_LAST_EXCEPTION != null}">
                                Reason : <span th:text="${SPRING_SECURITY_LAST_EXCEPTION.message}"></span> 
                            </div>
                        </div>
                        <div th:if="${param.logout != null }">
                            <div>you have been logged out</div>
                        </div>

                      <div class="form-group">
                        <label for="username">Email address</label>
                        <input type="email" class="form-control" id="username" name="username" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                      </div>
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                      <button type="button" class="btn btn-primary" id="register">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
